@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    background: linear-gradient(145deg, #373B44, #4286f4);
    font-family: "Barlow", sans-serif;
}

.avatarIcon {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    height: 32px;
    width: 32px;
    margin: 5px;
    cursor: pointer;
    color: #FFFFFF;
}

.cardGrid {
    padding-top: 5px;
    padding-bottom: 10px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25) !important;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 20px;
}

.cardMedia {
    padding-top: 56.25%
}

.cardContent {
    flex-grow: 1;
}

.headerTitle {
    font-family: "Barlow", sans-serif;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px rgba(12, 7, 7, 0.18);
    font-size: 20px;
}

.headerMain {
    background-color: #373B44 !important;
}

.contentHeader {
    margin: 30px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px rgba(12, 7, 7, 0.18);
    font-family: "Barlow", sans-serif;
    text-align: center;
}

.cardTitle {
    font-weight: 600;
    margin-top: -10px;
    margin-bottom: 10px;
    font-family: "Barlow", sans-serif;
    color: #e8e8e8;
    text-shadow: 2px 2px #2d2d2d;
}

.header {
    margin: 30px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px rgba(12, 7, 7, 0.18);
    font-family: "Barlow", sans-serif;
}

.headerText {
    margin: 30px;
    color: #fff;
    text-shadow: 2px 2px rgba(12, 7, 7, 0.18);
    font-family: "Barlow", sans-serif;
}

.resumeSection {
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    padding-bottom: 50px;
}
.resumeLink {
    font-family: "Barlow", sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-shadow: 2px 2px rgba(12, 7, 7, 0.18);
}

.cardItem {
    font-family: "Barlow", sans-serif;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: -5px;
    color: #fff;
    text-shadow: 2px 2px rgba(12, 7, 7, 0.50);
}

.links {
    padding: 25px;
}

.project-repo-icon {
    margin-left: auto;
}

.project-url {
    padding: 10px;
}