html {
    scroll-behavior: smooth;
    background: linear-gradient(135deg, #373B44, #4286f4);
}

.avatarIcon {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

.icon {
    height: 32px;
    width: 32px;
    margin: 5px;
    cursor: pointer;
    color: #FFFFFF;
    transition: color 0.3s;
}

.icon:hover {
    color: #ff4081;
}

.cardGrid {
    padding: 10px 0;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.cardMedia {
    padding-top: 56.25%;
}

.cardContent {
    flex-grow: 1;
}

.headerTitle {
    font-family: "Barlow", sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px rgba(12, 7, 7, 0.18);
    font-size: 24px;
}

.headerMain {
    background-color: #373B44 !important;
}

.contentHeader {
    margin: 30px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px rgba(12, 7, 7, 0.18);
    font-family: "Barlow", sans-serif;
    text-align: center;
}

.cardTitle {
    font-weight: 600;
    margin: -10px 0 10px;
    font-family: "Barlow", sans-serif;
    color: #e8e8e8;
    text-shadow: 2px 2px #2d2d2d;
}

.header {
    margin: 30px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px rgba(12, 7, 7, 0.18);
    font-family: "Barlow", sans-serif;
}

.headerText {
    margin: 30px;
    color: #ffffff;
    text-shadow: 2px 2px rgba(12, 7, 7, 0.18);
    font-family: "Barlow", sans-serif;
}

.resumeSection {
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    padding-bottom: 50px;
}

.resumeLink {
    font-family: "Barlow", sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    text-shadow: 2px 2px rgba(12, 7, 7, 0.18);
    transition: color 0.3s;
}

.resumeLink:hover {
    color: #ff4081;
}

.cardItem {
    font-family: "Barlow", sans-serif;
    font-weight: normal;
    padding: 10px;
    margin: -5px;
    color: #fff;
    text-shadow: 2px 2px rgba(12, 7, 7, 0.5);
}

.links {
    padding: 25px;
}

.project-repo-icon {
    margin-left: auto;
}

.project-url {
    padding: 10px;
}